<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todo_list_detail.name}}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
            </p>

            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_item in todo_list_detail.items.all %}
                    <tr>
                        <td>{{todo_item.task}}</td>
                        <td>{{todo_item.due_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>



            </table>
        </div>
    </main>

</body>
</html>
